<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portifólio</title>
</head>
<body>
    <header>
        <h1>Icon</h2>
        <ul>
            <li>Linkedin</li>
            <li>Github</li>
            <li>Instagram</li>
        </ul>
    </header>

    <section id="about-me">
        <h2>The Best Expreciente</h2>
        <article>
            <h3>WELCOME TO MY PORTIFOLIO</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque consequuntur suscipit, nostrum, corrupti quaerat voluptatum consequatur asperiores similique veritatis adipisci tempore, dignissimos autem accusamus magnam omnis impedit voluptatibus possimus at.</p>
        </article>
    </section>

    <section id="my-qualitys">
        <h2>MY QUALITYS</h2>
        <hr>
        <article id="proative">
            <header>
                <h3>PROATIVE</h3>
            </header>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, voluptas nam? Mollitia ullam possimus nobis in ut veniam quisquam doloremque, voluptatum incidunt placeat reprehenderit. Necessitatibus perspiciatis nobis iure corrupti excepturi.</p>
        </article>

        <article id="self-taught">
            <header>
                <h3>SELF-TAUGHT</h3>
            </header>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, voluptas nam? Mollitia ullam possimus nobis in ut veniam quisquam doloremque, voluptatum incidunt placeat reprehenderit. Necessitatibus perspiciatis nobis iure corrupti excepturi.</p>
        </article>
    </section>

    <section id="my-knowledge">

        <article id="html">
            <p>HTML</p>
        </article>
        <article id="nodejs">
            <p>NODEJS</p>
        </article>
        <article id="CSS">
            <p>CSS</p>
        </article>
        <article id="nodejs">
            <p>NODEJS</p>
        </article>
        <article id="JS">
            <p>JS</p>
        </article>
        <article id="SQL">
            <p>SQL</p>
        </article>
        <article id="GIT">
            <p>GIT/GITHUB</p>
        </article>

    </section>

    <footer>
        <article id="left-part">
            <header>
                <h2>FINAL PAGE</h2>
            </header>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut debitis numquam porro in sapiente consequuntur delectus ex dolorem praesentium ipsum, explicabo iure fugit odit sint repellat, quis nostrum deserunt laborum?</p>
        </article>
        <hr>
        <article id="right-part">
            <p>linkedin</p>
            <p>Github</p>
            <p>Instagram</p>
        </article>
    </footer>

</body>
</html>